<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let user of users;trackBy:trackbyService.user">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/users',user.id,'details']" class="white">
                        {{user.firstName | capitalize }} {{ user.lastName | capitalize }} 
                    </a>
                    <a [routerLink]="['/users',user.id,'edit']">
                        <i title="Edit"  
                           class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="images/{{user.gender | lowercase}}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{user.city | trim }}, {{user.state.name}}</div>
                            <a [routerLink]="['/users',user.id,'orders']">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!users.length">
            No Records Found
        </div>
    </div>
</div>