<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="https://webappman.github.io/" target="_blank">webappman</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/webappman/User-Management-System" target="_blank">https://github.com/webappman/User-Management-System</a></div>
            </div>
        </div>
    </div>
</div>